{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Admin Panel</h1>

    <h2 class="text-center">Fetch Latest Popular Films from TMDB</h2>
    {% if message %}
    <div class="alert alert-info text-center mt-4">
        {{ message }}
    </div>
    {% endif %}
    <div class="text-center mt-4">
        <form method="post" action="{% url 'fetch_films' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Fetch Films</button>
        </form>
    </div>

    <h2 class="text-center mt-5">Generate Original Embeddings</h2>
    <div class="text-center mt-4">
        <form method="post" action="{% url 'generate_original_embeddings' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Generate Embeddings</button>
        </form>
    </div>
</div>
{% endblock %}
