{% extends "base.html" %}

{% block title %}FlickPicker{% endblock %}

{% block content %}
    {% load socialaccount %}
    {% if not user.is_authenticated %}
        <div class="container">
            <h1 class="text-center my-5">Welcome To FlickPicker</h1>
            <h2 class="text-center">To Use FlickPicker Please Login</h2>
            <h3 class="text-center">Google Login</h3>
            <div class="text-center">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login With Google</a>
            </div>
        </div>
    {% endif %}
    
    {% if user.is_authenticated %}
        <div class="container">
            <h1 class="text-center my-5">Welcome To FlickPicker, {{ google_given_name }}</h1>
            <div class="text-center">
                <img src="{{ google_picture }}" alt="Google Profile Picture" class="rounded-circle" width="150">
            </div>
            <h2 class="text-center mt-4">Ready To Find A Film?</h2>
            <div class="text-center mt-3">
                <a href="{% url 'chat' %}" class="btn btn-success mb-3">Recommend me a Movie!</a><br>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                
            </div>
        </div>
    {% endif %}
{% endblock %}
