Django==5.1.5
requests==2.32.3
django-allauth==65.3.1
PyJWT==2.10.1
cryptography==44.0.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10
dj-database-url==2.3.0
langchain-community==0.3.16
ollama==0.4.7
faiss-cpu==1.10.0
whitenoise==6.9.0
RapidFuzz==3.12.2