<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}FlickPicker{% endblock %}
        {% block page_title %}{% endblock %}
    </title>
    <link rel="icon" href="{% static 'logo/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block extra_head %}{% endblock %}
    <!-- Inject the CSRF token into a meta tag -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <style>
        html, body {
            height: 100%;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-dark text-white p-3">
        <div class="container">
            <h1>
                <a href="/" class="text-white text-decoration-none">
                    <img src="{% static 'logo/flickpicker_logo.png' %}" alt="FlickPicker Logo" class="d-inline-block align-middle rounded-circle" style="height: 40px; width: 40px;">
                    FlickPicker
                </a>
            </h1>
            <nav>
                <a href="/" class="text-white me-4">Home</a>
                <a href="/chatbot/film-recommendations" class="text-white me-4">Recommender</a>
                {% if request.user.is_staff %}
                <a href="/users/admin" class="text-white me-4">Admin</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container py-5 flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-light text-center py-3">
        <div class="container">
            <p>&copy; 2025 FlickPicker</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {% block extra_js %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var csrfTokenMeta = document.querySelector('meta[name="csrf-token"]');
            if (csrfTokenMeta) {
                var csrfToken = csrfTokenMeta.getAttribute('content');
                document.querySelectorAll('form').forEach(function(form) {
                    // Check if the CSRF token is already included
                    if (!form.querySelector('input[name="csrfmiddlewaretoken"]')) {
                        var input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = 'csrfmiddlewaretoken';
                        input.value = csrfToken;
                        form.appendChild(input);
                    }
                });
            }
        });
    </script>
</body>
</html>
